@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 240 10% 4%;
  --foreground: 300 20% 98%;
  --border: 300 10% 20%;
  --ring: 292 91% 73%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
