# Maven / Spring Boot
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
dependency-reduced-pom.xml

# Logs & temp
*.log
*.tmp
*.tmp.*

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/
.factorypath
.sts4-cache

# OS
.DS_Store
Thumbs.db
